body {
  background-color: rgb(97, 214, 107);
}

video {
  position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   z-index:-1;
   filter:opacity(60%);
   backdrop-filter: blur(10px);
   box-shadow: 0px 0px 10px #000000;
   width: 120px;
}

.my-img {
  height: auto;
  width: 60%;
  max-width: 625px;
  border-radius: 10%;
  padding-top: 10px;
  filter:opacity(90%);
}

.button-a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 0px;
  border-radius: 40px;
  display: inline-block;
  border:none;
  transition: all 0.4s ease 0s;
}

.btn-shadow:hover {
  text-shadow: 0px 0px 16px antiquewhite;
}


li {
  display: inline-grid;
  list-style-type: none;
  text-align: center;
}

ul li img {
  height: 90px;
  width: 90px;
  filter: opacity(75%);
  padding-top: 5px
}

.about-me {
  min-width: 20rem;
  max-width: 35rem;
  padding: 15px;
  background-color: #002956;
  border-radius: 10%;
  box-shadow: 1px 0px 10px rgb(0 0 86);
  color: rgb(255 255 255);
  filter: opacity(85%);
}

.me-me {
  text-align: -webkit-center;
  padding: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.button {
  background-color: #002956;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
