.btn-fix {
  padding-top: 10em;
}
.ext-green {
  color: greenyellow;
}

.container-full{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.bg-cust {
  background: rgb(223,219,219);
background: linear-gradient(180deg, rgba(223,219,219,1) 0%, rgba(121,121,121,1) 43%, rgba(18,18,18,1) 82%, rgba(0,0,0,1) 100%);
height: 100vh;

}
.name-pads {
  padding-top: 6em;
}
.title-pads {
  padding-bottom: 6rem;
}

.button-a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 0px;
  border-radius: 40px;
  display: inline-block;
  border:none;
  transition: all 0.4s ease 0s;
}

.my-img {
  height: 750px;
  width: auto;
  border-radius: 10%;
}


.btn-shadow:hover {
  text-shadow: 0px 0px 16px antiquewhite;
}

body {
  background-image: linear-gradient(to bottom, rgba(223,219,219,.5), rgba(121,121,121,.55), rgba(18,18,18,.65), rgba(0,0,0,.8));
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.carousel-item {
  height: 500px;
}

.cslogo {
  height: 100px;
  width: 100px;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 330px;
  width: 550px;
  background-color: rgb(105, 121, 187);
  border-radius: 10%;
  box-shadow: 10px 1px 10px rgb(157, 157, 231);
}

.me-me {
  text-align: -webkit-center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.card-img {
  height: 500px;
  width: 100%;
}
